.container {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: lightgrey;
  border-bottom: 1px solid black;
  padding: 20px 20px 20px 5%;
  color: black;
  font-size: 30px;
  font-family: sans-serif;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 64px);
  background-color: var(--body-background);
}

.content button {
  color: rgba(30, 215, 96, 255);
  padding: 1rem;
  width: 40rem;
  border-radius: 0.5rem;
  font-size: 35px;
  border: 1px solid grey;
  background-color: var(--button-background);
}

.mat-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.app-language-selector {
  align-self: flex-end;
}

.left {
  align-items: center;
}

::ng-deep.mat-button-focus-overlay {
  border: 5px solid black;
}

::ng-deep.mat-button-focus-overlay {
  box-shadow: 5px 5px 5px 5px black;
}
